.container {
    background-color: cadetblue;
    width: 1000px;
    height: 1000px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* justfy content altera os elementos na horizontal, porém se eu alterar o flex directionpara collumn/collunreverse, 
    ele alterara os elementos na vertical */
    /* flex-direction: ; */
    /* justify-content: space-between; */
}

.box {
    background-color: darkorange;
    width: 100px;
    height: 100px;
    border: 1px solid black;

}